
.button {
  border-radius: 8px;
  padding: 4px 0;
  width: 140px;
  
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg, rgb(120, 82, 146), hsl(288, 56%, 50%));
  color: #fff;
}