

.contact,
.contact .section-title__sub {
  color: #fff;
}

.contact {
  background: linear-gradient(90deg, hsl(192, 50%, 30%), hsl(192, 80%, 60%));
}

.contact__message,
.contact__form,
.contact__form-element,
.contact__form-submit-button {
  margin-top: 32px;
}

.contact__form {
  width: 60%;
}

.contact__form-element:first-child {
  margin-top: 0;
}

.contact__form {
  padding: 32px 48px;
  background-color: #fff;
  color: #000;
}

.contact__form-element-title {
  display: flex;
  align-items: center;
}

.contact__form-necessity {
  margin-left: 24px;
  border-radius: 10px;
  padding: 4px 8px;
  background-color: hsl(207, 78%, 31%);
  color: #fff;
}

.contact__form-input,
.contact__form-textarea {
  border: none;
  background-color: hsl(189, 85%, 92%);
}

.contact__form-input {
  width: 70%;
  height: 50px;
}

.contact__form-textarea {
  width: 100%;
  height: 150px;
  resize: none;
}

.contact__form-confirmation {
  /* text-align: center; */
  display: flex;
  flex-direction: column;
  align-items: center;
}
