
.top {
  margin-top: 100px;
  display: flex;

  width: 100%;
  height: 700px;

  display: flex;
  align-items: center;
  justify-content: space-evenly;
  overflow: hidden;
  position: relative;

}

.top__item {
  margin-bottom: 10%;
  /* flex: 1; */
  width: 500px;
  /* height: 60%; */

  z-index: 10;

}

.top__item_left {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  /* align-items: center; */
  
}

.top__item_left .top-title {
  width: 440px;
  font-size: 32px;
  
}

.top__item_left .top-title__sub {
  margin-top: 24px;
  width: 240px; 
  /* font-size: 18px; */
  
}

.top__item_left .button {
  margin-top: 24px;
}

.main-img {
  /* margin-bottom: 10%; */
  height: 500px;

  background-image: url('../img/main.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.circle-img {
  position: absolute;
  top: -100px;
  right: -120px;
  width: 700px;
  height: 700px;
  background-image: url('../img/circle.png');    
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}