// @use '../../utilities/mixins/image' as *;
@use '../../utilities/mixins/images';
// @use '../../utilities/mixins/_images.scss';
// @use 'images';
// @use '../../utilities/mixins/images' as i;

// $image-path: image.image();
// @mixin image($img-name) {
//   // .logo {
//   background-image: url(../../assets/img/#{$img-name}.png);
//   // From the Manifest File.
//   // }
// }

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;

  box-shadow: 0 4px 4px hsl(0, 0%, 70%);
  width: 100%;
  height: 100px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #fff;
}

.header__item,
.header-menu {
  flex: 1;
  justify-content: center;
  align-items: space-evenly;

  display: flex;
}

.header-menu__item {
  margin-left: 18px;

  display: flex;
  justify-content: center;
  align-items: center;
  &:first-child {
    margin-left: 0;
  }
}

// $Variable: url(../../assets/img/logo.png);
.logo {
  // @include image("logo");
  // @include image{image("logo")};
  // background-image: #{image.Variable};
  @include images.background-image("logo");
  // @import "../../utilities/mixins/images";
  // @include i.background-image();
  // background-image: #{i.Variable};
  // background-image: #{$Variable};
  // background-image: url(../../assets/img/logo.png);
  height: 50px;
  width: 50px;
  background-position: center;
  background-size: cover;
}

.header__title {
  margin-left: 18px;
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 24px;
}
