
.page { 
  margin: 0;
  /* width: 1440px; */
  background-color: #fff;
  font-size: 14px;
  font-family: 'Noto Sans JP', sans-serif;

}

.section {
  padding: 48px 0;
  min-height: 500px;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-evenly; */
  &:nth-of-type(even) {
    background-color: hsl(189, 85%, 92%);
  }
}

.section__content {
  width: 100%;
    /* Since the dispolay Property is flex, it's NOT Block Level, thus the width is NOT 100% to the Parent Element. */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-title { 
  text-align: center; 
  font-size: 32px;
}

.section-title__sub {
  margin-top: 12px;
  text-align: center;
  color: hsl(187, 100%, 60%);
}